/* header {
  background-color: coral;
  background-color: #282c34;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(ellipse at bottom, #3b1552 0%, #090a0f 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profil {
  /* color: white; */
  margin: 0;
  /* background-image: url('./space.jpg'); */
  background-image: linear-gradient(
    var(--rotate)
    , #610b926b, #840e9b56 43%, #4e00c250);
    backdrop-filter: blur(10px);
  width: 100%;
  padding-top: 70px;
  margin-bottom: 100px;
}

#pProfil{
  padding-bottom: 30px;
  padding-top: 30px;
  color: white;
}

.App {
  text-align: center;
}

@keyframes pics {
  from {
    /* transform: (0deg); */
    /* border-radius: 0%; */
    /* filter: blur(3px); */
    width: 100%
  }
  to {
    /* transform: rotate(360deg); */
    /* border-radius: 20%; */
    /* filter: blur(0px); */
    width: 130%
  }
}

#projetTitle {
  background-color: rgba(183, 0, 255, 0.651);
  border-radius: 10%;
  border: rgb(0, 0, 0) 1px solid;
  /* filter: blur(0px); */
}

#projets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: -1;
}

.projetImg{
  /* filter: blur(3px); */
  z-index: 3;
  /* border-radius: 100%; */
  /* display: flex;
  justify-content: center; */
}

.projetImg:hover{
  /* filter: blur(0px); */
  border: solid black 3px;
  width: 130%;
  animation: pics 1s;
}

/* /////////////////////////////////////////////////////////////////// */

#h1Profil {
  font-family: fantasy;
  color: white;
}

#test {
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
  color: #090a0f;
}
.carte {
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
  color: #090a0f;
  background-color: white;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

 .card {
   background: #191c29;
   width: var(--card-width);
   height: var(--card-height);
   padding: 3px;
   position: relative;
   /* z-index: 1; */
   border-radius: 6px;
   justify-content: center;
   align-items: center;
   text-align: center;
   display: flex;
   font-size: 1.5em;
   color: rgb(88 199 250 / 0%);
   cursor: pointer;
   margin-top: 25px;
   margin-bottom: 25px;
   margin: 25px 10px 25px 10px;
 }

.card:hover {
  color: rgb(138, 10, 224);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: 0;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

/* .container {
  position: relative;
  text-align: center;
  color: white;
} */

/* .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-wrap: break-word;
} */

/* #space {
  width: 100%;
  margin-bottom: 20px;
} */