header {
  /* background-color: coral; */
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes pics {
  from {
    /* transform: (0deg); */
    width: 40%;
  }
  to {
    /* transform: rotate(360deg); */
    width: 60%;
  }
}

#projetTitle {
  background-color: rgba(183, 0, 255, 0.651);
  border-radius: 10%;
  border: rgb(0, 0, 0) 1px solid;
  /* filter: blur(0px); */
}

#carousel:hover {
  /* filter: blur(2px); */
}

.carouselpics {
  filter: blur(3px);
}

.carouselpics:hover{
  filter: blur(0px);
  width: 60%;
  animation: pics 1s;

}